* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%clearfix {
  content: "";
  overflow: hidden;
  display: table;
  clear: both;
}
// header styles
.nav-panel {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  font-size: 15px;
  background: white;
  color: #2F2F2F;
  font-weight: normal;
  line-height: 1.5;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  text-rendering: auto;
  li {
    transition: background-color ease-out .3s;
  }
}

.nav-panel__container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.nav-panel__container::after {
  @extend %clearfix;
}

.nav-panel__brand {
  float: left;
  line-height: normal;
  padding-left: 10px;
  height: 48px;
}

.nav-panel__link {
  display: block;
  margin-top: 13px;
}

.nav-panel__logo {
  display: block;
  vertical-align: baseline;
  max-height: 23px;
}

.nav-items {
  position: absolute;
  margin-top: 48px;
  right: 0;
  transition: width .3s ease-out;
  z-index: 1000;
  max-width: 360px;
  width: 80%;
  height: calc(100% - 50px);
  display: none;
  list-style-type: none;

}

.nav-items__container {
  height: 100%;
}

.nav-item {
  position: relative;
  float: none;
  list-style-type: none;
}

.nav-item__inner {
  position: relative;
  z-index: 1001;
  font-size: 1em;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  cursor: pointer;
  padding: 0;
}

.nav-item__link {
  color: #2F2F2F;
  font-weight: normal;
  text-decoration: none;
  display: block;
  padding: 0 12px;
  line-height: 48px;
  transition: background-color ease-out .5s;
}

.nav-item__dropdown::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  font-family: "shell-icons";
  font-style: normal;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 21px;
  right: 10px;
  font-size: 6px;
  font-weight: bold;
}

.user-enter {
  line-height: 48px;
  padding: 0 10px;
  max-width: 160px;
  vertical-align: top;
  font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
  font-size: 86%;
  color: #505050;
  float: right;
  display: none;
}

.mobile-panel {
  display: block;
  float: right;
}

.mobile-panel li {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
  height: 48px;
  display: inline-block;
}
.mobile-menu {
  float: right;
  display: block;
}

.shell-icon-menu {
  font-size: 1.4em;
  position: relative;
  bottom: 2px;
  margin: 0 auto;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  overflow: visible;
  font-family: "shell-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shell-icon-menu:before {
  content: "";
}

i[class*="shell-icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  overflow: visible;
}

i[class*="shell-icon-"]:before {
  display: block;
  width: 1em;
  height: 1em;
  font-family: "shell-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shell-icon-cart {
  float: left;
  top: 15px;
  height: 48px;
  font-size: 1.4em;
  position: relative;
  bottom: 2px;
  margin: 0 auto;
}
.shell-icon-cart:before {
  content: "";
}

.shell-icon-search:before {
  content: "";
}

.cart-amount {
  font-size: .75em;
  float: left;
  margin-left: 3px;
}

.mobile-menu__button {
  width: 44px;
  height: 48px;
  background: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  margin: 0;
  min-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  vertical-align: inherit;
  border: 0;
  cursor: pointer;
  color: #7f7f7f;
}

.mobile-search {
  height: 48px;
  line-height: 48px;
  width: 44px;
  background: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 .6em;
  color: #7f7f7f;
  transition: background-color .3s ease-out;
  font-size: 20px;
}

.mobile-basket {
  margin-left: 0;
  background: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 .6em;
  color: #7f7f7f;
  line-height: 48px;
  transition: background-color .3s ease-out;
}

.basket-link {

}

.search-panel {
  clear: both;
  float: none;
  margin: 0;
  background-color: #f2f2f2;
}

.search {
  display: none;
  float: none;
  padding: 1.5em 10px;
  position: relative;
  text-align: center;
}

.search__wrapper {
  margin: 0 auto;
  position: relative;
  width: 70%;
}

.search-input {
  float: none;
  width: 100%;
  height: 30px;
  border: 0;
  max-width: none;
  outline: 0;
  padding-right: 35px;
  -webkit-appearance: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  margin: 0;
  min-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  vertical-align: inherit;
}

.search-button {
  box-sizing: border-box;
  width: 33px;
  height: 30px;
  padding: 0;
  //margin-left: -4px;
  border: 0;
  background: #0078D7;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  margin: 0;
  min-width: 0;
}

.shell-icon-search {
  font-size: 1em;
  max-width: none;
  position: relative;
  top: -3px;
}

.basket-amount {
  font-size: .75em;
  float: left;
  margin-left: 3px;
  color: #7f7f7f;
}
.basket-link {
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  padding: 17px 10px;
  margin-left: 6px;
}

.shell-icon-cart {
  color: #7f7f7f;
  font-size: 1em;
  float: left;
}

.basket .shell-icon-cart {
  top: 1px;
}

.basket {
  display: none;
}

.dropdown-menu {
  display: none;
  position: static;
  z-index: 1000;
  top: 100%;
  left: 0;
  width: auto;
  min-height: 0;
  padding: 0;
  background-color: #e5e5e5;
  border-left: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-right: 1px solid rgba(0,0,0,0.1);
  li {
    list-style-type: none;
  }
}

.dropdown-item {
  a {
    display: block;
    min-height: 28px;
    padding: 14px 10px;
    line-height: 20px;
    color: #2F2F2F;
    font-weight: normal;
    text-decoration: none;
  }
  &:hover {
    background-color: #e5e5e5;
  }
}

.shell-icon-dropdown {
  content: "";
  width: 1em;
  height: 1em;
  font-family: "shell-icons";
  font-style: normal;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  font-weight: bold;
  display: inline-block;
  font-size: 6px;
  //margin: 12px 16px;
}

.shell-icon-dropdown:before {
  content: "";
}

.dropdown-nest {
  >ul {
    float: none;
    width: auto;
    color: #505050;
    background-color: #d9d9d9;
    display: none;
    position: static;
    top: 0;
    left: 237px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(0,0,0,0.1);
    height: auto;
    li {
      &:hover {
        background-color: #d9d9d9;
        a {
          text-decoration: underline;
          }
        }
      }
    }
}
.nav-items.active {
  display: block;
  background-color: #f2f2f2;
  height: 100%;
}

.nav-item__inner.active {
  background-color: #f1f1f1;
}

.nav-items__container::after {
  @extend %clearfix;
}

.search-panel-mobile {
  clear: both;
  float: none;
  margin: 0;
  background-color: #f2f2f2;
  display: none;
}

.search-panel-mobile__form {
  float: none;
  padding: 1.5em 10px;
  position: relative;
  text-align: center;
}

.search-panel-mobile__wrapper {
  margin: 0 auto;
  position: relative;
  width: 70%;
}

.search-panel-mobile__input {
  float: none;
  width: 100%;
  height: 30px;
  border: 0;
  max-width: none;
  outline: 0;
  padding-right: 35px;
  -webkit-appearance: none;
}

.search-panel-mobile__submit {
  box-sizing: border-box;
  width: 33px;
  height: 30px;
  padding: 0;
  margin-left: -4px;
  border: 0;
  background: #0078D7;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.search-panel-mobile .shell-icon-search {
  font-size: 1em;
  color: #FFF;
  max-width: none;
  position: relative;
  top: 0;
}

.search-panel-mobile.active {
  display: block;
}

.mobile-search.active, .mobile-search:hover {
  background: #f2f2f2;
}

//main section styles

.herro-baner {
  padding: 0;
  overflow: hidden;
  position: relative;
  //min-height: 700px;
  background: #f7f7f7;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

.herro-baner__background-container {
  background-image: url(../img/herro-pc.jpg);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.herro-baner__text-container {
  position: relative;
  margin: 0 auto;
  text-align: left;
  padding-top: 75px;
  padding-bottom: 75px;
  min-height: 550px;
  max-width: 990px;
  box-sizing: content-box;
  z-index: 2;
}

.herro-baner-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.herro-baner-text__h1 {
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  font-size: 47.25px;
  max-width: 520px;
  padding-bottom: 0;
  line-height: 1.3;
}

.herro-baner-text__h2 {
  margin-left: 0;
  margin-right: 0;
  font-size: 21px;
  padding-bottom: 20px;
  line-height: 1.5;
  max-width: 406px;
}

.herro-baner-text__h2 ,.herro-baner-text__h1 {
  width: 450px;
  font-weight: 100;
  color: #47525d;
}

.try-business {
  float: left;
  margin: 30px 0 0 0;
  text-align: center;
  background: none;
  -webkit-transition: opacity 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s;

}

.try-business__button {
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 19px 26px;
  font-size: 21px;
  line-height: 21px;
  background: #0071e0;
  color: #fff;
  display: block;
  text-align: center;
  border: none;
  border-radius: 6px;
  font-weight: normal;
  cursor: pointer;
  &:hover {
    background: #3398ea;
  }
}

.try-business__text-footer {
  text-align: left;
  margin-top: 15px;
  font-size: 16px;
  color: #47525d;
  display: block;
}

.try-business__link {
  border-bottom: 1px solid #0071e0;
  color: #0071e0;
  text-decoration: none;
  &:hover {
    color: #3398ea;
  }
}

//subscribtion block

.subscription {
  background: #323a45;
  text-align: center;
  padding: 160px 0 145px;
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

.subscription__container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  clear: both;
}

.subscription__title {
  color: white;
  margin-bottom: 55px;
  font: 300 30px/52px "Open Sans", "open-sans", sans-serif;
}

.subscription__form {
  display: inline-block;
  margin-bottom: 31px;
  width: 100%;
  label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #8a959e;
    margin: 20px 0 0 50px;
    font-weight: 400;
  }
}

.subscription__form input[type=text],
.subscription__form input[type=email],
.subscription__form input[type=password] {
  background: white;
  width: 100%;
  height: 63px;
  line-height: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 48px;
  margin-right: 10px;
  border: 1px solid #d4d7da;
  font: 400 18px/1em "Open Sans", "open-sans", sans-serif;
  color: #8a959e;
  -webkit-appearance: none;
  outline: none;
  resize: none;
  -webkit-font-smoothing: antialiased;
}

.subscription__button {
  display: inline-block;
  padding: 17px 14px 16px;
  background: #ff3366;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  line-height: 1em;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  height: 62px;
  margin-top: 1px;
  width: 302px;
}

.subscription__ico {
  position: absolute;
  top: 19px;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-image: url('../img/sprite.png');
}

.ico-user {
  background-position: 0 -85px;
}

.ico-email {
  background-position: 0 4px;
}

.ico-lock {
  background-position: 0 -39px;
  z-index: 2;
}

.subscription__terms {
  font-size: 12px;
  line-height: 1.8em;
  color: #747c83;
}

.subscription__terms a{
  color: #747c83;
  text-decoration: underline;
}
form input[type=text].error,
form input[type=email].error,
form input[type=password].error {
  border-color: #ff3366;
  box-shadow: 0 0 0 1px #ff3366;
}

.subscription__wrap-input {
  label {
    z-index: 2;
  }
  position: relative;
  margin: 0;
  width: 24%;
  max-width: 263px;
  min-width: 220px;
  margin-right: 10px;
}

.subscription__form p {
  display: inline-block;
}

//pictures section

.pictures__container {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pictures__container::after {
  @extend %clearfix;
}
.picture {
  float: left;
  width: 33.33333333%;
  background: #282828;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.picture__link {
  display: block;
}

.picture__bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  opacity: .3;
  text-align: center;
  transition: transform .3s, opacity .3s;
  width: 100%;
}
.picture__bg:hover {
  opacity: .8;
  transform: scale(1.1, 1.1);
}

.picture__bg--1 {
  background-image: url(../img/pic-1.jpg);
}
.picture__bg--2 {
  background-image: url(../img/pic-2.jpg);
}
.picture__bg--3 {
  background-image: url(../img/pic-3.jpg);
}
.picture__caption {
  padding: 0 32px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  font: 700 22px/32px "Oculus Sans", "Arial", "Helvetica", sans-serif;
}
.picture__h4 {
  color: #a4a5a6;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 16px;
  margin: 0;
  text-align: center;
}
.picture__h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  text-align: center;
}

//footer styles

.footer {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #f2f2f2;
  color: #666;
  overflow: hidden;
  position: relative;
  z-index: 1;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.footer__container {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  box-sizing: content-box;
}

.footer-nav {
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

.footer-nav::after {
  @extend %clearfix;
}

.footer-nav__column {
  width: 20%;
  float: left;
}

.footer-nav-title {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 600;
  letter-spacing: normal;
  color: #333;
  margin: 0;
}

.footer-nav-list {
  margin-right: 20px;
  list-style: none;
  padding: 0;
}

.footer-nav-list__item {
  display: block;
  pointer-events: auto;
  &:hover {
    text-decoration: underline;
  }
}

.footer-nav-link {
  color: #666;
  text-decoration: none;
}

.column-second {
  padding-top: 20px;
}

.footer-info {
  color: #999;
  padding: 20px 0 24px;
  width: 100%;
  @extend %clearfix;
}

.footer-info__shop {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 6px;
  padding-bottom: 5px;
  a {
    color: #08c;
  }
}

.footer-info__local {
  float: right;
  white-space: nowrap;
}

.local-link {
  margin-left: 5px;
  display: inline;
  color: #666;
  text-decoration: none;
}

.local-link__flag {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/flag.png");
  padding-right: 5px;
  background-position: left center;
  cursor: pointer;
  float: left;
  margin-top: 1px;
}

.footer-copyright::after {
  @extend %clearfix;
}

.footer-copyright__links, .footer-copyright__text {
  margin-right: 26px;
  float: left;
}

.footer-copyright-link {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  padding-right: 12px;
  white-space: nowrap;
  color: #666;
  text-decoration: none;
  &:hover {
    color: #333;
    text-decoration: underline;
  }
  &:last-child {
    border: none;
    margin: 0;
    padding: 0;
  }
}







