* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//.container::after {
//  @extend %clearfix;
//}

@charset "UTF-8";
@font-face {
  font-family: "wf_segoe-ui_normal";
  src: url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.eot");
  src: local("Segoe UI"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.eot?#iefix") format("embedded-opentype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.svg#web") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "wf_segoe-ui_semibold";
  src: url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.eot");
  src: local("Segoe UI Semibold"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.eot?#iefix") format("embedded-opentype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf") format("truetype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.svg#web") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "wf_segoe-ui_semilight";
  src: url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.eot");
  src: local("Segoe UI Semilight"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.eot?#iefix") format("embedded-opentype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf") format("truetype"), url("//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.svg#web") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "shell-icons";
  src: url("../fonts/shell-icons-0.4.0.eot");
  src: url("../fonts/shell-icons-0.4.0.eot?#iefix") format("embedded-opentype"), url("../fonts/shell-icons-0.4.0.woff") format("woff"), url("../fonts/shell-icons-0.4.0.ttf") format("truetype")
}


%clearfix {
  content: "";
  overflow: hidden;
  display: table;
  clear: both;
}

.nav-panel {
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  font-size: 15px;
  background: white;
  color: #2F2F2F;
  font-weight: normal;
  line-height: 1.5;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  text-rendering: auto;
  a {
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
  }
}

.nav-panel__container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.nav-panel__container::after {
  @extend %clearfix;
}

.nav-panel__brand {
  float: left;
  line-height: normal;
  padding-left: 10px;
  height: 48px;
}

.nav-panel__link {
  display: block;
  margin-top: 13px;
}

.nav-panel__logo {
  display: block;
  vertical-align: baseline;
  max-height: 23px;
}

.nav-items {
  position: absolute;
  margin-top: 48px;
  right: 0;
  transition: width .3s ease-out;
  z-index: 1000;
  width: 0;
  max-width: 300px;
  height: 100%;
  height: calc(100% - 50px);
  display: none;
  list-style-type: none;

}

.nav-items__container {
  height: 100%;
}

.nav-item {
  position: relative;
  float: none;
  list-style-type: none;
  &:hover {
    background-color: #e5e5e5;
  }
}

.nav-item__inner {
  position: relative;
  z-index: 1001;
  font-size: 1em;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  cursor: pointer;
  padding: 0;
}

.nav-item__link {
  color: #2F2F2F;
  font-weight: normal;
  text-decoration: none;
  display: block;
  padding: 0 12px;
  line-height: 48px;
  transition: background-color ease-out .5s;
}

.nav-item__link::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  font-family: "shell-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 21px;
  right: 28px;
  font-size: 6px;
  font-weight: bold;
}

.user-enter {
  line-height: 48px;
  padding: 0 10px;
  max-width: 160px;
  display: inline-block;
  vertical-align: top;
  font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
  font-size: 86%;
  color: #505050;
  float: right;
  display: none;
}

.mobile-panel {
  display: block;
  float: right;
}

.mobile-panel li {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
  height: 48px;
  display: inline-block;
}
.mobile-menu {
  float: right;
  display: block;
}

.shell-icon-menu {
  font-size: 1.4em;
  position: relative;
  bottom: 2px;
  margin: 0 auto;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  overflow: visible;
  font-family: "shell-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shell-icon-menu:before {
  content: "";
}

i[class*="shell-icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  overflow: visible;
}

i[class*="shell-icon-"]:before {
  display: block;
  width: 1em;
  height: 1em;
  font-family: "shell-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shell-icon-cart {
  float: left;
  top: 15px;
  height: 48px;
  font-size: 1.4em;
  position: relative;
  bottom: 2px;
  margin: 0 auto;
}
.shell-icon-cart:before {
  content: "";
}

.shell-icon-search:before {
  content: "";
}

.cart-amount {
  font-size: .75em;
  float: left;
  margin-left: 3px;
}

.mobile-menu__button {
  width: 44px;
  height: 48px;
  background: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  margin: 0;
  min-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  vertical-align: inherit;
  border: 0;
  cursor: pointer;
  color: #7f7f7f;
}

.mobile-search {
  height: 48px;
  line-height: 48px;
  width: 44px;
  background: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 .6em;
  color: #7f7f7f;
  transition: background-color .3s ease-out;
  font-size: 20px;
}

.mobile-basket {
  margin-left: 0;
  background: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 .6em;
  color: #7f7f7f;
  line-height: 48px;
  transition: background-color .3s ease-out;
}

.basket-link {

}

.search-panel {
  clear: both;
  float: none;
  margin: 0;
  background-color: #f2f2f2;
}

.search {
  display: none;
  float: none;
  padding: 1.5em 10px;
  position: relative;
  text-align: center;
}

.search__wrapper {
  margin: 0 auto;
  position: relative;
  width: 70%;
}

.search-input {
  float: none;
  width: 100%;
  height: 30px;
  border: 0;
  max-width: none;
  outline: 0;
  padding-right: 35px;
  -webkit-appearance: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  margin: 0;
  min-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  vertical-align: inherit;
}

.search-button {
  box-sizing: border-box;
  width: 33px;
  height: 30px;
  padding: 0;
  margin-left: -4px;
  border: 0;
  background: #0078D7;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
  margin: 0;
  min-width: 0;
}

.shell-icon-search {
  font-size: 1em;
  max-width: none;
  position: relative;
  top: -3px;
}

.basket-amount {
  font-size: .75em;
  float: left;
  margin-left: 3px;
  color: #7f7f7f;
}
.basket-link {
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  padding: 17px 10px;
  margin-left: 6px;
}

.shell-icon-cart {
  color: #7f7f7f;
  font-size: 1em;
  float: left;
}

.basket .shell-icon-cart {
  top: 1px;
}

.basket {
  display: none;
}

.dropdown-menu {
  //display: none;
  position: static;
  z-index: 1000;
  top: 100%;
  left: 0;
  width: auto;
  min-height: 0;
  padding: 0;
  background-color: #e5e5e5;
  border-left: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-right: 1px solid rgba(0,0,0,0.1);
  li {
    list-style-type: none;
  }
}

.dropdown-item {
  a {
    display: block;
    min-height: 28px;
    padding: 14px 10px;
    line-height: 20px;
    color: #2F2F2F;
    font-weight: normal;
    text-decoration: none;
  }
  &:hover {
    background-color: #e5e5e5;
  }
}

.shell-icon-dropdown {
  content: "";
  width: 1em;
  height: 1em;
  font-family: "shell-icons";
  font-style: normal;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  font-weight: bold;
  display: inline-block;
  font-size: 6px;
  margin: 12px 16px;
}

.shell-icon-dropdown:before {
  content: "";
}
